﻿@model SignUpViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="auth" asp-action="signup" method="post">
            <input type="hidden" asp-for="ReturnUrl"/>
            <!-- login card -->
            <div class="card">
                <!-- card header -->
                <div class="card-header text-center">
                    Signup
                </div>
                <!-- card body -->
                <div class="card-body">
                    @if (@Model!.Errors.Any())
                    {
                        <ul class="text-danger">
                            @foreach (var error in @Model.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                    <div class="mb-3 text-center">
                        <label for="user-name-input" class="form-label">User name</label>
                        <input type="text" class="form-control" id="user-name-input" asp-for="UserName">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="email-input" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email-input" asp-for="Email">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="phone-number-input" class="form-label">PhoneNumber*</label>
                        <input type="text" class="form-control" id="phone-number-input" asp-for="PhoneNumber">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="password-input" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-input" asp-for="Password">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="password-confirm-input" class="form-label">Confirm password</label>
                        <input type="password" class="form-control" id="password-confirm-input" asp-for="PasswordConfirm">
                    </div>
                </div>
                <!-- card footer -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-primary">
                        Signup
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>